<div class="content-main">
    <h1 class="mat-h1">Home</h1>
    <h2 class="mat-h2">I'm interested in mobile app developments</h2> 
    <h2 class="mat-h2">This blog will consist of content about the technologies I used or will use in my personal mobile app development projects. </h2>
    <h2 class="mat-h2">The website was developed using <a href="https://angular.io/" target="_blank">Angular</a> and <a href="https://material.angular.io" target="_blank">Angular Material</a> and is hosted by github page.</h2>
</div>
