<div class="content-main">
    <h1 class="mat-h1">Flutter</h1>
    <h2 class="mat-h2">I was completely fascinated by <a href="https://flutter.dev" target="_black">flutter</a>. I want to develop a mobile app for bicycle navigation with flutter.</h2>
    <h2 class="mat-h2">These days we are looking at the <a href="https://flutter.dev/docs/development/packages-and-plugins/background-processes" target="_blank">background process of flutter</a>.</h2>
    <h2 class="mat-h2">I will try to develop the measurement of the speed of the bicycle with the GPS signal as a priority.</h2>
</div>